body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    line-height: 2;


}

table {
    max-width: 370px;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Poppins", sans-serif;
    /* padding-left: 25px; */
    padding: 10px;
    padding-bottom: 25px;
    color: #0000009b;
    text-align: start;
    max-width: 100vw;
}

h2 {
    font-weight: lighter;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
    padding-top: 25px;
}

h4 {
    /* padding: 25px; */
    padding-bottom: 20px;
}

img {
    max-width: 100%;

}

table {
    border-collapse: collapse;
    background: white;
    color: black;
}

th,
td {
    font-weight: bold;
}

header {
    background: #caeee3;
    color: #0000009b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer {
    background: #caeee3;
    color: #0000009b;
    display: grid;
    justify-items: center;
    /* padding-top: 25px;
    padding-left: 50px; */

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; */
}

.main-bkgd {
    padding-top: 30px;
    padding-bottom: 100px;
    display: grid;

}


.homepagebkg {
    padding-top: 0px;
    padding-bottom: 100px;
}

.card {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px 0px #caeee3;

    /* background-image: url(assets/heartstethoscope b&w.png) */
}

.physicians {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.product {
    display: flex;
    grid-template-columns: 1fr;
    /* justify-content: center; */
}

.product2 {
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-bottom: 50px;
}

.main {
    grid-template-columns: 1fr;
    padding: 2rem;
}

#desktop-nav-buttons {
    display: none !important;
    padding: 0px 20px;
}

/* 
#header-floating-img {
    position: absolute;
    top: 5px;
    left: 40px;
    z-index: 1;
}

#header-floating-img-container {
    width: 156px;
} */

/* #img-text {
    position: relative;
    top: 200px;
    left: 30px;
    z-index: 1;
} */

/* .img-text-bg {
    /* background-color: #78cba850; */
/* } */

.appt-card {
    /* background-color: #78cba850; */
    display: flex;
    justify-content: space-between;
    border: 2px #caeee3;
}

.appt-text {
    display: flex;
    flex-direction: column;
}

.appt-title {
    font-size: medium;
}

.appt-2nd-text {
    font-size: small;
    color: grey;
}

#appt-img {
    display: none;
}

.footercontent {
    position: inherit;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    /* padding: 20px 20px 20px 20px; */
    grid-template-columns: 1fr;
}

.footericons {
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-top: 25px;
    /* grid-template-columns: 1fr; */
    /* display: grid; */
    justify-items: center;
    color: #457f569b;
}

@media (min-width: 375px) {
    body {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
        line-height: 2;
    }

    h1,
    h2,
    h3,
    p {
        font-family: "Poppins", sans-serif;
        padding-left: 25px;
        padding-bottom: 20px;
        color: #0000009b;
        max-width: 100%;
    }

    h2 {
        font-weight: lighter;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    h4 {
        padding-left: 25px;
        padding-bottom: 20px;
        max-width: 100%;
    }

    img {
        max-width: 100%;

    }

    table {
        border-collapse: collapse;
        background: white;
        color: black;
    }

    th,
    td {
        font-weight: bold;
    }

    header,
    footer {
        background: #caeee3;
        color: #0000009b;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-bkgd {
        padding-top: 75px;
        padding-bottom: 100px;
    }

    .homepagebkg {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .card {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        box-shadow: 1px 1px 5px 0px #caeee3;

        /* background-image: url(assets/heartstethoscope b&w.png) */
    }

    .physicians {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .product {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
    }

    .main {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    #third {
        grid-row: 2;
        grid-column: 2;
    }

    .class {
        max-height: fit-content;


    }

    #desktop-nav-buttons {
        display: unset !important;
    }

    #header-floating-img {
        position: absolute;
        top: 5px;
        left: 40px;
        z-index: 1;
    }

    #header-floating-img-container {
        width: 156px;
    }

    #img-text {
        position: relative;
        top: 200px;
        left: 30px;
        z-index: 1;
    }

    .img-text-bg {
        background-color: #78cba850;
    }

    .appt-card {
        /* background-color: #78cba850; */
        display: flex;
        justify-content: space-between;
        border: 2px #caeee3;
    }

    .appt-text {
        display: flex;
        flex-direction: column;
    }

    .appt-title {
        font-size: medium;
    }

    .appt-2nd-text {
        font-size: small;
        color: grey;
    }

    #appt-img {
        display: unset;
    }

    .footercontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 20px 20px 20px;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }

    .footericons {
        display: flex;
        gap: 20px;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }

}